<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">

</head>
<body>
    <form>
        <label for="autocomplete">Search:</label>
        <input type="text" id="autocomplete">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#autocomplete').autocomplete({
                source: 'autocomplete',
                minLength: 2,
                select: function(event, ui) {
                    $('#autocomplete').val(ui.item.name);
                    console.log(ui.item);
                    return false;

                },
                focus: function(event, ui) {
                    $('#autocomplete').val(ui.item.name);
                    return false;
                }
            }).autocomplete('instance')._renderItem = function(table, item) {
                return $('<tr>')
                    .append('<td>' + item.name + '</td>')
                    .append('<td>' + item.category + '</td>')
                    .append('<td>' + item.description + '</td>')
                    .appendTo(table);
            };
        });
    </script>
</body>
</html>