<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="{% url 'item_create' %}"> Create</a>
    {% for item in items %}
    <li>{{ item.item_name }} </li>

    <li>{{ item.item_price }} </li>
    <li>  <a href="{% url 'item_update' item.id %}">Edit</a>
        <a href="{% url 'item_delete' item.id %}" onclick="return confirm('Are you sure?');">Delete</a>
    </li>

    
  
   
 
    {% endfor %}
</body>
</html>