
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <form  method="post" enctype="multipart/form-data" id="form-container">
            {% csrf_token %}
            {{ formset.management_form }}
          
            <table id="formset">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Picture</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for form in formset %}
                    <tr class="item-form">
                      <td>{{ form.item_code }}</td>
                      <td>{{ form.item_name }}</td>
                      <td>{{ form.item_description }}</td>
                      <td>{{ form.item_price }}</td>
                      <td>{{ form.item_qty }}</td>
                      <td>{{ form.item_picture }}</td>
                      <td>
                    </td>
                    </tr>
                  {% endfor %}

      
            
                </tbody>
              </table>
            <button id="add-form" type="button">Add Another item</button>
            <input type="submit" value="submit">

            </form>



              
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>
          let itemForm = document.querySelectorAll(".item-form")
          let container = document.querySelector("#form-container")
          let addButton = document.querySelector("#add-form")
          let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

          // Get the hidden input element number of form 
          var inputElement = document.getElementById("id_item-TOTAL_FORMS");

  
          let formNum = itemForm.length-1
          addButton.addEventListener('click', addForm)
  
          function addForm(e){
              e.preventDefault()
  
              let newForm = itemForm[0].cloneNode(true)
              let formRegex = RegExp(`item-(\\d){1}-`,'g')
  
              formNum++
              inputElement.value = formNum+1
              newForm.innerHTML = newForm.innerHTML.replace(formRegex, `item-${formNum}-`)
              container.insertBefore(newForm, addButton)
              
              totalForms.setAttribute('value', `${formNum+1}`)
          }
      </script>
  


         
    </body>
    </html>
    



