{% extends 'base.html' %}

{% block content %}
<hr>
<div class="table-responsive">
    <table class="table 
    table-bordered
    align-middle">
        <thead class="">
            <caption>Citizen Information</caption>
            <tr>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for citizen in citizens %}
                <tr>
                    <td scope="row">{{ citizen.name}}</td>
                    <td>{{ citizen.date_of_birth}}</td>
                    <td>{{ citizen.address}}</td>
                    <td>
                        <a href="{% url 'update_citizen' citizen.id %}">Edit </a>
                        <a href="{% url 'delete_citizen' citizen.id %}">Delete </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                
            </tfoot>
    </table>

    <h1>Search Nid</h1>
    <form action="{% url 'search' %}" method="get" class="d-flex">
        <label for="nid_number">NID Number:</label>
        <input type="text" name="nid_number" id="nid_number">
        <input type="submit" value="Search Nid">
    </form>

    <h1> Search Citizen From Nid </h1>

    <form action="{% url 'search_citizen' %}" method="post" class="d-flex">
        {% csrf_token %}
        <label for="nid_number">Enter NID number:</label>
        <input type="text" id="nid_number" name="nid_number">
        <input type="submit" value="Search Cityzen ">
      </form>
    
</div>


{% endblock %}